@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  html {
    @apply transition-colors duration-300; /* Transição suave na mudança de tema */
  }

  body {
    @apply bg-surface-light text-slate-900 dark:bg-surface-dark dark:text-slate-100;
    @apply font-sans antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .gradient-animated {
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
  }
}
